div.grid-container-4 {
	background-color: rgb(247, 247, 247);
}

.container-fluid {
	background-color: #5B86E5;
	border-radius: 5px;
}

.element {
	display: flex;
	height: 25px;
	border-right: grey;
}

div{
	padding-bottom: 2px;
}

hr.vertical {
	white-space: 5px;
}

.card .card-block {
	padding: 15px;
}

.grid-container-4 {
	display: grid;
	grid-template-areas: "a b";
	gap: 30px;
	padding: 20px;
}

canvas {
	width: 50%;
	height: 50px;
}


.element {
	flex: auto;
	height: auto;
	width: 100%;
}

a.nav-link {
	color: white;
}


