/* Font */ 
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet');

/* Design */

@media (min-width: 300px) {
	.card-block {
	  width: 50%;
	}
  }
  
  @media (min-width: 56rem) {
	.card-block {
	  width: 33.3333%;
	}
  }

   @media screen and (max-width : 600px) {
	html {
		font-size: 10px;
	  }
	h1 {
		font-size: 65px;
	}
	h2 {
		font-size: 65px;
	}
	h3 {
		font-size: 30px;
	}
	.card-block {
		width: 60%;
	  }
}

.wrapper {
	height: 200px !important;
}
  

/* NAVBAR */
.navbar {
	width: 100%;
	background-color: #29a3a3;
	overflow: auto;
	border-radius: 5px;
  }
  
  .navbar a {
	float: left;
	padding: 12px;
	color: white;
	text-decoration: none;
	font-size: 17px;
  }

	.navbar a.active{ 
		border-bottom:1px solid rgb(255, 255, 255); 
	}
  
  @media screen and (max-width: 500px) {
	.navbar a {
	  float: none;
	  display: block;
	}
  }

  /* Navbar links on mouse-over */
.navbar a:hover {
	color: rgb(47, 47, 47);
  }
  

  
  /* BODY */
.element {
	display: flex;
	height: 25px;
	border-right: rgb(179, 179, 179);
}

hr.vertical {
	white-space: 5px;
}

.card .card-block {
	padding: 15px;
}

.grid-container-4 {
	display: grid;
	grid-template-areas: "a b";
	gap: 30px;
	padding: 20px;
}

canvas {
	width: 50%;
	height: 50px;
}


.element {
	flex: auto;
	height: auto;
	width: 100%;
}


span.classfortooltip {
	color: #5B86E5;
	max-width: 100% !important;
}

div.container-fluid-2{
	width: auto;
}


/* POPUP INFO */ 

/* Popup container */
.popup {
	position: right;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  }
  
  /* The actual popup */
  .popup .popuptext {
	visibility: hidden;
	width: 500px;
	padding: 20px 0;
	padding-left: 20px;
	padding-right: 25px;
	z-index: 1;
	left: 500;
	padding-left: 5%;
	margin-left: -80px;
	position: absolute;
	text-align: justify;
	border-radius: 6px;
	background-color: rgb(255, 255, 255);
	border: 0.5px solid rgb(128, 128, 128);
	box-shadow: grey;
	color: rgb(39, 39, 39);
  }
  
  h4 {
	  text-align:center;
  }
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
	visibility: visible; 
	-webkit-animation: fadeIn 1s;
	animation: fadeIn 1s;
  }
  
  /* Add animation (fade in the popup) */
   @-webkit-keyframes fadeIn {
	from {opacity: 0;} 
	to {opacity: 1;}
  } 
  
  @keyframes fadeIn {
	from {opacity: 0;}
	to {opacity:1 ;}
  } 

