
.container-fluid {
	background-color: #5B86E5;
	border-radius: 5px;
}

.element {
	display: flex;
	height: 25px;
	border-right: grey;
}


hr.vertical{
	white-space: 5px;
}


.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.card .card-block {
    padding: 15px;
}

.container {  
	
	display: grid;
	grid-template-columns: 0.9fr 1fr 1.1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 0px 0px;
	grid-auto-flow: row;
  }


.f-left {
    float: left;
}

.f-right {
    float: right;
}


.card-body{
	text-align: left;
}

.grid-container-3 {
	display: grid;
	width:100%;
	grid-template-columns: 50% 50% ;
	gap: 30px;
	padding: 30px;	
}

.grid-container-4 {
	display: grid;
	grid-template-areas: "a b" ;
	gap: 30px;
	padding: 30px;	
}

.grid-container-2 {
	display: grid;
	grid-template-columns: 3fr 3fr;
	gap: 30px;
	margin: 12px;
}

canvas {
	width:50%;
	height:50px;
}


.element {
	flex:auto;
	height: auto;
	width: 100%;
}


